/* =Typography
-----------------------------------------------------------------------------*/
body {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
}

::selection {
    color: #fff;
    background-color: #c04345;
    text-shadow: none;
}
.right{
    float: right;
}
.left{
    float: left;
}
.btn-bigger {
    font-size: 18px;
    padding: 14px 30px;
}
.mid-bar{
    clear: both;
    background: #eee;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px 4px;
    font-size: .9em;
}
.portlet{
    clear: both;
}
.portlet-header{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: .5em;
}
.breadcrumbs{
    float: left;
}
.portlet-title{
    font-size: 1.2em;
    border-bottom: 1px solid #666;
    padding-bottom: .2em;
    margin-bottom: .2em;
    font-weight: bold;
}
.view{
    clear: both;
    margin-bottom: 2em;
    float: left;
    width: 100%;
}
/* =Links
-----------------------------------------------------------------------------*/
a {
    color: #369;
}
a:hover {
    color: #c72020;
}

/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
    margin: auto;
    max-width: 1000px;
    padding: 0 10px;
    width: 940px;
}
#top_inner {
    margin: auto;
    padding: 0 20px;
}
#page {
    position: relative;
    border-radius: 3px;
    padding: 1.5em 0;
    margin: 0 auto 1.5em auto;
}
#main-head {
    padding: 2em 0 4em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 20px;
}
.meta,.post-time{
    margin-bottom: 20px;
    color: #999;
}
.search-form{
    float: right;
    margin-bottom: 0;
    margin-top: 14px;
}
/* =Top
-----------------------------------------------------------------------------*/
#top {
    background: #111;
    color: #eee;
    overflow: hidden;
    padding: 7px 0 5px 0;
    margin-bottom: 1.5em;
}
#top a {
    color: #eee;
    text-decoration: none;
}
#top a:hover {
    color: #eee !important;
    text-decoration: underline;
}
#logo {
    float: left;
    background: url(../img/logo.png) no-repeat;
    width: 108px;
    height: 24px;
    margin-top: 2px;
}
#logo a {
    zoom: 1;
    display: block;
    height: 24px;
}
#desc {
    float: left;
    margin-top: 4px;
    margin-left: 30px;
    font-size: 13px;
}
#desc a {
    color: #eee;
    text-decoration: none;
}
#desc a:hover {
    text-decoration: underline;
}

#appendix {
    margin: 0;
    list-style: none;
    float: right;
    font-size: .85em;
    line-height: 30px;
}
#appendix li {
    float: left;
    margin-left: 2em;
}
#appendix li span {
    color: #000;
    display: block;
    border-radius: 3px;
    padding: 0 5px;
    line-height: 20px;
    position: relative;
    top: 5px;
    background-color: #ddd;
}
#twitterlink {
    padding-left: 20px;
    background: url(../img/ico_twitter.png) no-repeat;
    background-position: 0 -1px;
}



/* =Intro
-----------------------------------------------------------------------------*/
#intro {
    margin: 4.5em 0 2em 0;
    padding-left: 35px;
}
#intro h1 {
    margin-bottom: 12px;
    font-size: 48px;
}
#intro p {
    color: #888;
    margin-bottom: 0;
}
h1.head{
    float: left;
    font-size: 2em;
    margin-bottom: .2em;
    margin-left: 0.5em;
    margin-top: 0.6em;
}
.view .event-details-list h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* =Header
-----------------------------------------------------------------------------*/
header {
    margin-bottom: 1em;
    float: left;
    width: 100%;
}
header h3 {
    float: left;
    margin: 0;
    font-size: 24px;
    padding-left: 35px;
    background: url(../img/kube.png) no-repeat;
}
header h3 a {
    color: #000;
    text-decoration: none;
}
header h3 a:hover {
    text-decoration: underline;
}
.nm_row span label,.nm_row label{
    display: inline;
    float: left;
    line-height: 1.4em;
    width: auto;
    margin-right: 2%;
    margin-left: 0.5%;
    font-weight: normal;
}
.nm_row input{
    float: left;
}
.nm_row{
    clear: both;
}
#Business_businessCategories{
    margin-top: 10px;
}
#Business_businessCategories input{
    clear: both;
}
.label{
    margin-right: 10px;
    background: #eee;
    border: 1px solid #ccc;
}
.label a{
    padding: 0px 8px;
}
.span-19{
    overflow: hidden;
    padding-bottom: 20px;
}
.list-view .summary{
    color: #999;
}
/* =Nav
-----------------------------------------------------------------------------*/
#nav {
    float: right;
    margin-top: 12px;
}
#nav ul {
    margin: 0;
    list-style: none;
}
#nav > ul > li:first-child, #nav > ul > li > a:first-child{
    padding-left: 0px;
}
#nav li a, #nav li span {
    display: block;
}
#nav ul li{
    padding-bottom: 0px;
}
#nav li b a {
    color: #369;
    text-decoration: underline;
}
#nav li span {
    color: #bbb;
}
/* =Misc
-----------------------------------------------------------------------------*/
#features {
    margin-left: 35px;
    padding-top: 3.5em;
    border-top: 1px solid #eee;
}
#features pre {
    padding: 1em;
    font-size: 12px;
}
#features p {
    line-height: 1.6em;
    margin-bottom: 1em;
}
.inner-features, .inner-back {
    background-color: #f6f6f6;
}
.inner-nobottom {
    padding-bottom: 1px;
}
.btn-block {
    padding: 3em 0 0 0;
    margin-bottom: 1.5em;
}
.btn-block div {
    margin-top: 10px;
    font-size: 13px;
}
.btn-block div a {
    color: #555;
}
.btn-block div a:hover {
    color: #c72020;
}
.box{
    margin: 12px;
}
.box .errorSummary{
    position: absolute;
    top: 46px;
    width: 260px;
    box-shadow: 0px 2px 4px #999;
}

input[type=submit], input[type=button], button, .btn {

    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);

    background-color:#007dc1;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    border:1px solid #124d77;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:5px 20px;
    text-decoration:none;

    text-shadow:0px 1px 0px #154682;

}
input[type=submit]:hover, input[type=button]:hover, button:hover, .btn:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);

    background-color:#0061a7;
}
input[type=submit]:active, input[type=button]:active, button:active, .btn:active {
    position:relative;
    top:1px;
}

/* =Lists
-----------------------------------------------------------------------------*/
.list-mdash {
    margin-left: 0;
}
.list-mdash li {
    list-style: none;
    line-height: 1.7em;
}
.list-mdash li:before {
    content:"\2014\a0";
}
.list-browser {
    margin-left: 0;
    list-style: none;
}
.list-browser li {
    padding-left: 24px;
    line-height: 26px;
    background-position: 0 2px !important;
}
.list-browser li.ico_browser_chrome { background: url(../img/ico_browser_chrome.png) no-repeat; }
.list-browser li.ico_browser_firefox { background: url(../img/ico_browser_firefox.png) no-repeat; }
.list-browser li.ico_browser_safari { background: url(../img/ico_browser_safari.png) no-repeat; }
.list-browser li.ico_browser_opera { background: url(../img/ico_browser_opera.png) no-repeat; }
.list-browser li.ico_browser_ie { background: url(../img/ico_browser_ie.png) no-repeat; }

.list-toc, .portlet-content ul {
    margin-left: 0;
    list-style: none;
}
.list-toc li, .portlet-content ul li {
    border-bottom: 1px solid #e5e5e5;
    padding: .2em 0em;
}
.list-toc li a, .list-toc li span, .portlet-content ul li a, .portlet-content ul li span {
    padding: 7px 0;
    display: block;
}
.list-toc li a, .portlet-content ul li a{
    text-decoration: none;
    color: #000;
}
.list-toc li a:hover, .portlet-content ul li a:hover{
    text-decoration: underline;
}
.list-toc li span, .portlet-content ul li span {
    font-weight: bold;
    color: #a8a8a8;
}

.list-stack {
    margin-left: 0;
    list-style: none;
}
.list-stack li {
    padding: 4px 0;
}



/* =Footer
-----------------------------------------------------------------------------*/
footer {
    padding-top: 1.5em;
    border-top: 1px solid #eee;
    font-size: .85em;
    color: #555;
    padding-bottom: 90px;
    text-align: center;
}
body.indexpage footer {
    margin-left: 35px;
}
footer a {
    color: #000;
}
footer a:hover {
    color: #555;
}

/* =Prettyprint
-----------------------------------------------------------------------------*/
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #005cb9; }
.str, .atv { color: #849d00; }
.kwd, .linenums, .tag { color: #3f5bb9; }
.typ, .atn, .dec, .var { color: #008ec4; }
.pln { color: #444; }

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
ol.linenums {
    margin: 0 0 0 33px;
}
ol.linenums li {
    color: #bebec5;
    text-shadow: 0 1px 0 #fff;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #fcfcfc;
}



/* =Demo
-----------------------------------------------------------------------------*/
.swatch {
    display: inline-block;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    line-height: 18px;
}
.box-demo {
    padding: 5px 0;
}
.griddemo .inner {
    background-color: #4d698c;
}
.griddemo .row {
    background-color: #f3f3f3;
}
.griddemo .row,
.griddemo .block-two > li,
.griddemo .block-three > li,
.griddemo .block-four > li,
.griddemo .block-five > li,
.griddemo .block-six > li {
    color: #fff;
    line-height: 60px;
    font-size: 13px;
    text-align: center;
}
.bg-lightblue {background-color:#b0c4de}
.bg-blue {background-color:#7e9ec7}
.cut {
    text-align: center;
    font-size: 24px;
    color: #aaa;
    margin: 3em 0;
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper { width: 748px; }
}

.view h2{
    margin-bottom: 0;
}

.share-portlet .portlet-content a{
    padding: 3px;
}

td .view{
    float:none;
}

.sidebar ul{
    margin-bottom: 25px !important;
}

.share-portlet{
    margin-top: 20px;
}

header form{
    margin-right: -17%;
    margin-top: 5% !important;
}

header form input{
width: 135% !important;
}